.app{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* text-align: center; */
}

.form{
    width: 508px; /* I had to put this here because the error messages were changing the size of the form
    this width is the size of the longest error message*/
    padding: 16px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgcontainer {
    height: 100px;
    background-image: url("../../../public/images/ge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    text-align: center;
    margin: 24px 0 12px 0;
}


input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid grey;
}

.register{
    color:blue;
    text-align: center;
}

.formInputButton{
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.formInputButton:hover {
    opacity: .5;
}

.link {
    color: red;
    text-align: center;
}